<div class="sidebar-container">
    <div class="sidebar-logo">
      Dashboard
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Homepage
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li class="header">Actions</li>
      <li class="menuItem">
        <a>
          <i class="fa fa-building" aria-hidden="true"></i> Hospital
        </a>
      
      <!-- dropdown/submenu related to hopital -->
      <div class="submenu">
        <ul>
          <li>
            <a (click) = 'addHospital()' class="submenuItem">
              <i class="fa fa-plus" aria-hidden="true"></i> New hospital
            </a>
          </li>
          <li>
            <a href="#" class="submenuItem">
              <i class="fa fa-tachometer " aria-hidden="true"></i> Modify informations
            </a>
          </li>
        </ul>
      </div>
      </li>
      <li class="menuItem">
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Doctor
        </a>
        <!-- submenu related to doctor -->
        <div class="submenu">
          <ul>
            <li>
              <a (click) = 'addHospital()'>
                <i class="fa fa-plus" aria-hidden="true"></i> Add doctor
              </a>
            </li>
            <li>
              <a href="#" class="submenuItem">
                <i class="fa fa-tachometer " aria-hidden="true"></i> All doctors
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Manage hospital
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-gear" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a (click)='logOut()'>
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
      </li>
    </ul>
</div>
<!-- <input type="submit" value="log out " (click)='logOut()'> -->