  <div class="bigContainer container-fluid d-flex flex-rows">
    <div class="contentGrid  d-flex justify-content-between">
        <div class="formContent">
            <div class="formular">
                <p class="title d-4 ">Sign Up</p>
                <p class="note">Welcome ! Please fill the fields to have an account</p>
                <!-- <form method="post" class="form"> -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
                <input type="text" #fullName="ngModel" [(ngModel)]="doctorService.selectedDoctor.fullName" name="fullName" placeholder="Full Name"
                required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">

                <div *ngIf="signUpForm.submitted && !fullName.valid">
                  <label class="validation-message">This field is required.</label>
                </div>

                <select #statut="ngModel" [(ngModel)]="doctorService.selectedDoctor.statut" name="statut" class="custom-select" required>
                  <option selected>Statut</option>
                  <option value="receptionnist">Receptionnist</option>
                  <option value="doctor">Doctor</option>
                  <option value="lab admin">Lab admin</option>
                </select>
                <div *ngIf="signUpForm.submitted && !statut.valid">
                  <label class="validation-message">This field is required.</label>
                </div> 

                  <input type="text" #phoneNumber="ngModel" [(ngModel)]="doctorService.selectedDoctor.phoneNumber" name="phoneNumber" placeholder="phone number"
                required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phoneNumber.valid }">

                <div *ngIf="signUpForm.submitted && !phoneNumber.valid">
                  <label class="validation-message">This field is required.</label>
                </div>

                <input type="text" #email="ngModel" [(ngModel)]="doctorService.selectedDoctor.email" name="email" placeholder="Email"
                required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">

                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                </div>

                <input type="password" #password="ngModel" [(ngModel)]="doctorService.selectedDoctor.password" name="password" placeholder="Password"
                minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">

                <div *ngIf="signUpForm.submitted && password.errors">
                  <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                </div>
                <input type="submit" class='btn btn-primary' value="Sign Up">
                <p class="note">You already have an account ?<span class="link" routerLink="/login">Sign In</span>
              </form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
</div>
</div>

        <div class="image">
        <img src="../../assets/undraw_doctors_hwty.svg" class="svg_img">
        </div>
</div>


</div>