<!DOCTYPE html>
<html>
  <div class="bigContainer container-fluid d-flex flex-rows">
    <div class="contentGrid  d-flex justify-content-between">
        <div class="formContent">
            <div class="formular">
                <p class="title d-4 ">Sign In</p>
                <p class="note">We were waiting for you !</p>
                <!-- <form method="post" class="form"> -->
                    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" name="email" class="form-control" value="" maxlength="50" required=""placeholder="E-mail">*ngIf="item === 'somevalue'" -->
  
                        <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
                        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                      <div *ngIf="signInForm.submitted && email.errors?.pattern">
  
                        <label class="validation-message">Invalid email address.</label>
                    <!-- </div> -->
                        <!-- <span class="text-danger"></span> -->
                    <!-- </div> -->
    
                    <!-- <div class="form-group">
                        <input type="password" name="password" class="form-control" value="" maxlength="8" required="" placeholder="Mot de passe">
                        <span class="text-danger"></span>
                    </div> -->
  
                </div>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
                  [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                <div *ngIf="signInForm.submitted && password.errors?.minlength">
                  <label class="validation-message">Minimum 4 characters.</label>
                </div>
                
                    <select class="custom-select" require>
                        <option selected>Statut</option>
                        <option value="admin">Admin</option>
                        <option value="receptionnist">Receptionnist</option>
                        <option value="doctor">Doctor</option>
                        <option value="lab admin">Lab admin</option>
                      </select> 
                      <input type="submit" class='btn btn-primary' value="Sign In">
  
                    <p class="note">You don't have an account ?<span class="link" routerLink="/signup">Sign Up</span>
  
                </form>
                <div class="alert" *ngIf="serverErrorMessages">
                    {{serverErrorMessages}}
                  </div>
            </div>
        </div>
  
        <div class="image">
            <img src="../../assets/undraw_doctors_hwty.svg" class="svg_img">
        </div>
    </div>
    
  
  </div>
</html>
