<app-sidebar></app-sidebar>

<div class="afterSidebar bigContainer container-fluid d-flex flex-column">
<br>
<h3>ADD AN HOSPITAL</h3><br>
<p>Fill the fields below</p>
    <div class="contentGrid">
        <div class="formContent">
            <div class="formular">
                <!-- <form method="post" class="form"> -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">


                <!-- name field and verification-->
                    <input type="text" #name="ngModel" [(ngModel)]="hospitalService.selectedHospital.name" name="name" placeholder="Hospital name"
                    required >

                    <div *ngIf="signUpForm.submitted && !name.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>
                    <!-- location field and validation -->
                    <input type="text" #location="ngModel" [(ngModel)]="hospitalService.selectedHospital.location" name="location" placeholder="Hospital location"
                    required >

                    <div *ngIf="signUpForm.submitted && !location.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>

                    <!-- branch field and validation -->
                    <!-- <input type="text" #branch="ngModel" [(ngModel)]="hospitalService.selectedHospital.branch" name="branch" placeholder="branch or department"
                    required > -->

                    <input type="text" #address="ngModel" [(ngModel)]="hospitalService.selectedHospital.address" name="address" placeholder="Hospital address"
                    required >

                    <div *ngIf="signUpForm.submitted && !address.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>      
                    <!-- iput tag part -->
                    <mat-form-field class="field" >
                        <mat-chip-list #chipList aria-label="Fruit selection" class="list">
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                [removable]="removable" (removed)="remove(fruit)">
                            {{fruit.name}}
                            <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Add a department ad press enter or comma to separate them"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)" #branch="ngModel" [(ngModel)]="hospitalService.selectedHospital.branch" name="branch">
                        </mat-chip-list>
                    </mat-form-field>

                    <!-- <div *ngIf="signUpForm.submitted && !branch.valid">
                        <label class="validation-message">This field is required.</label>
                    </div> -->

                    <!-- address field and validation -->
                    <br>
                    <input type="submit" class='btn btn-primary' value="create">
              </form>
                <!-- <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
                </div> -->
                <!-- <div class="alert" *ngIf="showSucessMessage">
                hospital succesfully saved
                </div> -->
            </div>
        </div>

    </div>


</div>

