<!-- register component -->
<div class="bigContainer container-fluid d-flex flex-rows">
    <div class="contentGrid">
        <div class="formContent">
            <div class="formular">
                <p class="title d-4 ">Sign Up</p>
                <p class="note"> Welcome ! To the Admin session</p>
                <!-- <form method="post" class="form"> -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

                <input type="text" #fullName="ngModel" [(ngModel)]="adminService.selectedAdmin.fullName" name="fullName" placeholder="Full Name"
                required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">

                <div *ngIf="signUpForm.submitted && !fullName.valid">
                  <label class="validation-message">This field is required.</label>
                </div>

                <!-- email field and verification-->
                <input type="text" #email="ngModel" [(ngModel)]="adminService.selectedAdmin.email" name="email" placeholder="Email"
                required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">

                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                </div>

                <!-- password field and verification -->
                <input type="password" #password="ngModel" [(ngModel)]="adminService.selectedAdmin.password" name="password" placeholder="Password"
                minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">

                <div *ngIf="signUpForm.submitted && password.errors">
                  <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                </div>
                <input type="submit" class='btn btn-primary' value="Sign Up">
                <p class="note">You already have an account as Admin ?<span class="link" routerLink="signin">Sign In</span>
              </form>
                <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
                </div>
            </div>
            
        </div>

    </div>


</div>