.bigContainer{
    background-image: linear-gradient( 
        rgba(234, 237, 247, 0.45), 
        rgba(123, 155, 243, 0.45)
      );
    background-repeat: no-repeat;
    height: 100vh;
    background-position-y: center;
    background-size: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: "poppins";
}
input {
    cursor: inherit;    
  } 
.contentGrid{
    box-shadow: #8e8e8e 3px 2px 20px 3px;
    height: 85vh;
    width: 50%;
}
.formular{
    width: 70%;
    padding: 9%;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formContent{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.title{
    font-size: 35px;
    color: #3f51b5;
    font-weight: 500;
}
.note{
    font-size: 15px;
    font-weight: 300;
}
.form{
    border: 2px black;
}
input:not([type=submit]), select{
    border-radius: 25px;
    border-top: hidden;
    margin-top: 15px;
    border-color: #c7c7c7;
    
}
.btn{
    margin: 10px 0px 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.image{
    width: 40%;
    background-color: aliceblue;
    display: inherit;
    padding: 10px;
}
.svg_img{
    width: 100%;
}
