<!-- log in component -->
<div class="bigContainer container-fluid d-flex flex-rows">
    <div class="contentGrid">
        <div class="formContent">
            <div class="formular">
                <p class="title d-4 ">Sign In</p>
                <p class="note">Welcome back ! </p>
                <!-- <form method="post" class="form"> -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">


                <!-- email field and verification-->
                <input type="text" #email="ngModel" [(ngModel)]="adminService.selectedAdmin.email" name="email" placeholder="Email"
                required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">

                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                </div>

                <!-- password field and verification -->
                <input type="password" #password="ngModel" [(ngModel)]="adminService.selectedAdmin.password" name="password" placeholder="Password"
                minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">

                <div *ngIf="signUpForm.submitted && password.errors">
                  <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                </div>
                <input type="submit" class='btn btn-primary' value="Sign In">
                <p class="note">You don't have an account as Admin?<span class="link" routerLink="/admin">Sign Up</span>
                <p class="note">You are not an admin ?<span class="link" routerLink="/login">Sign In as User</span>
              </form>
                <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
                </div>
            </div>
        </div>

    </div>


</div>
