<app-user-sidear></app-user-sidear>

<div class="afterSidebar bigContainer container-fluid d-flex flex-column">
<br>
<h3>ADD A PATIENT</h3><br>
<p>Fill the fields below</p>
    <div class="contentGrid">
        <div class="formContent">
            <div class="formular">
                <!-- <form method="post" class="form"> -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">


                    <!-- fullname field and verification-->
                    <input type="text" #name="ngModel" [(ngModel)]="patientService.selectedPatient.fullName" name="fullName" placeholder="patient fullname"
                    required >

                    <div *ngIf="signUpForm.submitted && !name.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>
                    <!-- address field and validation -->
                    <input type="text" #location="ngModel" [(ngModel)]="patientService.selectedPatient.address" name="address" placeholder="patient address"
                    required >

                    <div *ngIf="signUpForm.submitted && !location.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>

                    <!-- <input type="text" #branch="ngModel" [(ngModel)]="patientService.selectedPatient.branch" name="branch" placeholder="branch or department"
                    required > -->

                    <input type="text" #address="ngModel" [(ngModel)]="patientService.selectedPatient.phoneNumber" name="phoneNumber" placeholder="Hospital phoneNumber"
                    required >

                    <div *ngIf="signUpForm.submitted && !address.valid">
                        <label class="validation-message">This field is required.</label>
                    </div>

                    <!-- date of birth section -->

                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" #dateOfBirth="ngModel" [(ngModel)]="patientService.selectedPatient.dateOfBirth" name='dateOfBirth'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      

                    <!-- email input and verification system  -->
                    <input type="text" #email="ngModel" [(ngModel)]="patientService.selectedPatient.email" name="email" placeholder="Email"
                    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">    
                    <div *ngIf="signUpForm.submitted && email.errors">
                      <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                      <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                    </div>

                    <!-- address field and validation -->
                    <br> 
                    <input type="submit" class='btn btn-primary' value="create">
              </form>
                <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
                </div>
                <div class="alert" *ngIf="showSucessMessage">
                Patient succesfully saved
                </div>
            </div>
        </div>

    </div>


</div>

