<div class="container-fluid background firstContainer">
    <div class="content">
        <div class="fit">
            <div class="textPart">
                <p class="title">
                    WELCOME TO HEALTHAPP
                </p>
            </div>
            <div class="selection">
                <input type="submit" class='btn btn-primary button' value="signin" routerLink="/login">
                <input type="submit" class='btn btn-outline-primary button' data-toggle="modal" data-target="#popUp" data-backdrop="false" value="signup">
            </div>
        </div>

    </div>
</div>

<!-- popup dpr user statut -->
  
  <!-- Modal -->
  <div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you an administrator ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" routerLink="/admin">Yes</button>
          <button type="button" class="btn btn-primary"  routerLink="/signup">No</button>
        </div>
      </div>
    </div>
  </div>
