.firstContainer{
    height: 100vh;
    padding: 0;
}
.content{
    background-color: white;
    box-shadow: #8e8e8e 3px 2px 20px 0px;
    height: 50vh;
    width: 80%;
    margin: auto;
    border-radius: 1%;
    text-align: center;
}
.fit{
    width: 100%;
    height: fit-content;
    margin: auto;
}
.button{
    margin-left: 10px;
}
#popUp{
        background-color: transparent;
}
.modal-content{
    box-shadow: #8e8e8e 3px 2px 20px 0px;
    border: none;
}