<div class="sidebar-container">
    <div class="sidebar-logo">
      Dashboard
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Homepage
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
        </a>
      </li> 
      <li class="header">Actions</li>
      <li>
        <a href="#homeSubmenu" aria-hidden="true" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-plus"></i> Patient
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
              <a (click) ='addPatient()'>New patient</a>
          </li>
          <li>
              <a href="#">Patient list</a>
          </li>
      </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Patient list
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-gear" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a (click)='logOut()'>
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
      </li>
    </ul>
</div>
<!-- <input type="submit" value="log out " (click)='logOut()'> -->
